parameters:
    level: max
    checkGenericClassInNonGenericObjectType: false

    paths:
        - src
        - tests

    typeAliases:
        HeadersArray: 'array<string,string>'
        RouteArray: 'array{id:string,path:string,action:mixed,parameters?:array<string,mixed>}'

    ignoreErrors:
        -
            message: '#^Variable \$\w+ might not be defined.$#'
            path: tests/src/AbstractActionTest/*
            count: 1
        -
            message: '#^Call to an undefined method DanBettles\\Marigold\\OutputHelper\\Html5OutputHelper::create(Input)?\(\)#'
            path: tests/src/OutputHelper/Html5OutputHelperTest.php
            count: 2
        -
            message: '#^Variable \$\w+ might not be defined.$#'
            path: tests/src/PhpTest/*
            count: 2
        -
            message: '#^Variable \$\w+ might not be defined.$#'
            path: tests/src/TemplateEngine/EngineTest/*
            count: 5
