parameters:
    level: max
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#^Variable \$\w+ might not be defined.$#'
            path: tests/src/AbstractActionTest/*
            count: 1
        -
            message: '#^Call to an undefined method DanBettles\\Marigold\\OutputHelper\\Html5OutputHelper::create[A-Z]#'
            path: tests/src/OutputHelper/Html5OutputHelperTest.php
        -
            message: '#^Call to an undefined method DanBettles\\Marigold\\OutputHelper\\Html5OutputHelper::create\(\)\.$#'
            path: tests/src/OutputHelper/Html5OutputHelperTest.php
            count: 1
        -
            message: '#^Variable \$\w+ might not be defined.$#'
            path: tests/src/PhpTest/*
        -
            message: '#^Variable \$\w+ might not be defined.$#'
            path: tests/src/TemplateEngine/EngineTest/*
